/* @font-face {
    font-family: 'Work-Sans';
    src: url(https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300);
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300');

body {
    font-weight: 300;
    font-family: Work Sans;
    margin: 0;
    background-color: #fff;
}
.title_font {
    font-family: Montserrat;
}
header {
    font-size: 1.5em;
    padding: 60px;
    text-align: center;
    background-color: #91b3fa; 
    color: white;
}

header p {
    font-size: 1.2rem;
}

nav {
    display: flex;
    background-color: #FC9086;
    border: solid #FC9086 1px;
}

footer {
    display: flex;
    /* background-color: indianred; */
    justify-content: space-around;
}

nav a,
footer a {
    text-decoration: none;
    padding: 12px 20px;
    color: white;
    font-weight: 600;
}

nav a:hover,
footer a:hover {
    background-color: bisque;
    color: black;
}

main {
    display: flex;
}

aside {
    flex: 30%;
    background-color: #f9f9f9;
    padding: 20px;
}

.middle-section {
    flex: 70%;
    padding: 20px;
}

.article-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.article-bottom-wrapper {
    display: flex;
    align-items: center;
}

.article-bottom-wrapper > * {
    flex: 50%;
}

.fakeImg {
    display: flex;
    width: 350px;
    height: auto;
    
}

.wrapperTechnos {
    display: flex;
    flex-wrap: wrap;
}

.technos {
    width: 36px;
    padding: 24px;
}

h3 {
    font-size: 1em;
}

hr {
    margin: 80px;
}


/* SHOW HIDE DU CONTENU */

#experience {
    display: block;
}
/* #formation {
    display: none;
} */

/* MEDIA QUERIES */

/* @media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
    .fakeImg {
        width: 150px;
    }

} */