@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300');

body {
    font-weight: 300;
    font-family: Work Sans;
    margin: 0;
    background-color: #fff;
}

/* header et nav */

header {
    font-size: 1.5em;
    padding: 60px;
    text-align: center;
    background-color: #91b3fa; 
    color: white;
}

header p {
    font-size: 1.2rem;
} 

main {
    display: flex;
}

ul.list1 {
    list-style-type: oriya;
}
ul.list2 {
    list-style-type: bengali;
}
aside {
    flex: 0 1 27%;
    background: #F9F9F9;
    box-sizing: border-box;
    padding: 0 3rem;
}

aside p {
    text-align: center;
    line-height: 3em;
}

.home_wrapper_technos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.technos {
    width: 36px;
    height: auto;
    margin-top: 4em;
}

/* main section */

.middle-section {
    flex: 1 1 auto;
    box-sizing: border-box;
}
.middle-section div article:last-child {
    margin-bottom: 0;
    padding-bottom: 7rem;
}
article {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem 0;
    padding: 0 3rem;
}

.article-bottom-wrapper > * {
    flex: 50%;
}

.fakeImg {
    display: flex;
    width: 350px;
    height: auto;
    
}

h2 {
    margin: 0;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

h3 {
    font-size: 1em;
}

hr {
    margin: 3em;
}

.grey_background {
    background-color: #F9F9F9;
}
.white_background {
    background-color: white;
}

/* spécifique par section */

#experience {
    display: block;
    padding-bottom: 4em;
}
#experience article:last-child {
   margin-bottom: -3em;
}
.title_no_margin_top {
    margin-top: 0;
}
.title_font {
    text-align: center;
    font-family: Montserrat;
}

/* boostrap overides */
.btn-primary {
  background-color: #91b3fa;
  border-color: #91b3fa;
}
/* carousel */
.carousel_wrapper {
  padding-bottom: 10em;
}
.carousel-inner img {
  width: 500px;
}
